[Unit]
After=multi-user.target
[Service]
ExecStart=ssh -i /root/.ssh/tunnel_key -NR 2222:localhost:22 root@172.31.2.6
[Install]
WantedBy=multi-user.target